{% extends 'base.html' %}

{% block content %}
	<div class="container my-4">
		<font face="helvetica" color="#4267B2FF"><h2 align="center"><b>Lista de Compras</b></h2></font>
	</div>
	
	<div class="container">
		<table class="table table-hover table-bordered table-primary">
		  <thead class="bg-primary">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Produto</th>
		      <th scope="col">Quantidade</th>
		      <th scope="col">Total</th>
		      <th scope="col">Preço Médio</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for purchase in all_purchases %}
		    <tr onload="funcao('{{ purchase.total_price }}','{{ purchase.amount }}','{{ purchase.id }}')">
		      <th scope="row">{{ purchase.id }}</th>
		      <td>{{ purchase.product }}</td>
		      <td>{{ purchase.amount }}</td>
		      <td>R$ {{ purchase.total_price }}</td>
		      <td>R$ {{ purchase.avrg_price }}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	</div>

{% endblock %}

